<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SMS FORM</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Avant">
    <meta name="author" content="The Red Team">

    <!-- <link href="assets/less/styles.less" rel="stylesheet/less" media="all"> -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
    <script sc="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <style>
    #id_to {
    	width: 400px;
    	height: 30px;
    }
    #id_sms_text {
    	width: 370px;
    	height: 110px;
    }
    div.panel.panel-primary {
    	width: 450px;
    	width: 400px;
    	height: 30px;
    }
    #id_sms_text {
    	width: 400px;
    	height: 110px;
    }
    div.panel.panel-primary {
    	width: 480px;
    }
    </style>
    
    <!-- <script type="text/javascript" src="assets/js/less.js"></script> -->
</head>
<body class="focusedform">

<div class="verticalcenter">
	<a href="index.htm"><img src="/static/img/logo-big.png" alt="Logo" class="brand" /></a>
	<center> 
		<h3>
			Logged in as: <span style="color:#c60e3b;">{{ user }}<span>
		</h3>
	</center>
	<div class="panel panel-primary">
		<div class="panel-body">
			<h4 class="text-center" style="margin-bottom: 25px;">Enter particular to send sms</h4>
				<form action="/sms/" method="post" id="smsform">{% csrf_token %}
					<center>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
										{{ form.as_p }}
								</div>
							</div>
						</div><br><br>
						<p style="color:green">
					    	{% for message in messages %}
					    		{{ message }}
					    	{% endfor %}
					    </p><br>

      <br>
					    <a href="{% url 'excel' %}">Download CSV</a>
					</center>
					
		</div>
		<div class="panel-footer">
			
			<div class="pull-right">
				{% if user.is_authenticated %}
                    <a href="{% url 'auth:logout' %}" class="btn btn-primary"> LOGOUT</a> &nbsp;
                {% endif %}
				<input type="submit" class="btn btn-primary" value="SEND SMS" />
			</div>
		</div>
		</form>
	</div>
 </div>      
</body>
</html>