{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>DASHBOARD</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Avant">
	<meta name="author" content="The Red Team">

    <!-- <link href="assets/less/styles.less" rel="stylesheet/less" media="all">  -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>

    <link href="{% static 'demo/variations/default.css' %}" rel='stylesheet' type='text/css' media='all' id='styleswitcher'> 


    <!-- <link href="{% static 'demo/variations/default.css' %}" rel='stylesheet' type='text/css' media='all' id='headerswitcher'>  -->
    
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
	<!--[if lt IE 9]>
        <link rel="stylesheet" href="assets/css/ie8.css">
		<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
        <script type="text/javascript" src="assets/plugins/charts-flot/excanvas.min.js"></script>
	<![endif]-->

	<!-- The following CSS are included as plugins and can be removed if unused-->

<link rel='stylesheet' type='text/css' href="{% static 'plugins/form-daterangepicker/daterangepicker-bs3.css' %}"/> 
<link rel='stylesheet' type='text/css' href="{% static 'plugins/fullcalendar/fullcalendar.css' %}" /> 
<link rel='stylesheet' type='text/css' href="{% static 'plugins/form-markdown/css/bootstrap-markdown.min.css' %}"> 
<link rel='stylesheet' type='text/css' href="{% static 'plugins/codeprettifier/prettify.css' %}"> 
<link rel='stylesheet' type='text/css' href="{% static 'plugins/form-toggle/toggles.css' %}"> 

<script type="text/javascript" src="{% static 'js/less.js' %}"></script>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
<script type="text/javascript">
$(function () {
    if(document.location.search == '?filter=month') {
        $.getJSON("{% url 'bar' %}?filter=month", function(data) {
            $('#sincos').highcharts(data);
        });
    } 
    else{
        $.getJSON("{% url 'bar' %}", function(data) {
            $('#sincos').highcharts(data);
        });
    }   
});
</script>

</head>

<body class="">


    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <a id="leftmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar"></a>
        <a id="rightmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="left" title="Toggle Infobar"></a>

        <div class="navbar-header pull-left">
            <h3><a href="/dashboard/"> SMS DASHBOARD </a></h3>
        </div>

        <ul class="nav navbar-nav pull-right toolbar">
        		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="hidden-xs">{{ user|capfirst }}</span></a> &nbsp; 
                <div class="pull-right">
                {% if user.is_authenticated %}
                    <a href="{% url 'auth:logout' %}"> LOGOUT</a> &nbsp;
                {% endif %}
            </div>

        	
        	
            
		</ul>
    </header>

    <div id="page-container">
        <!-- BEGIN SIDEBAR -->
        <nav id="page-leftbar" role="navigation">
                <!-- BEGIN SIDEBAR MENU -->
            <ul class="acc-menu" id="sidebar">
                
                <li class="divider"></li>
                <li class="active"><a href="/dashboard/"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>


                <li><a href="/chart/"><i class="fa fa-bar-chart-o"></i> <span>Chart</span></a>
   
                </li> 

                <li><a href="/sms/"><i class="fa fa-envelope"></i>
                <span>SMS FORM</span></a></li>
                
            </ul>
            <!-- END SIDEBAR MENU -->
        </nav>


<div id="page-content">
    <div id='wrap'>
        <div id="page-heading">
            <ol class="breadcrumb">
                <li class='active'><a href="index.htm"> SMS Dashboard</a></li>
            </ol>

            <h1>SMS Dashboard</h1>
            <div class="options">
                <div class="btn-toolbar">
                    
                    <div class="btn-group hidden-xs">
                        <a href="{% url 'excel' %}" class="btn btn-default dropdown-toggle" data-toggle='dropdown'><i class="fa fa-cloud-download"></i><span class="hidden-xs hidden-sm hidden-md"> Export as Excel</span> <span class="caret"></span></a>
                        <a href="{% url 'pdf' %}" target="_blank" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cloud-download"></i><span class="hidden-xs hidden-sm hidden-md"> Export as PDF</span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Text File (*.txt)</a></li>
                            <li><a href="#">Excel File (*.xlsx)</a></li>
                            <li><a href="#">PDF File (*.pdf)</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-toyo" href="{% url 'chart' %}#smshistory">
                                <div class="tiles-heading">Number of SMS's</div>
                                <div class="tiles-body-alt">
                                    <!--i class="fa fa-bar-chart-o"></i-->
                                    <div class="text-center"><span class="text-top"></span>{% if user %}
                                        {{ user.sms_set.count }}
                                        {% endif %}</div>
                                    <small>SMS's sent by you</small>
                                </div>
                                <div class="tiles-footer">See history</div>
                            </a>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-orange" href="{% url 'chart' %}#smshistory">
                                <div class="tiles-heading">SMS's this year</div>
                                <div class="tiles-body-alt">
                                    <div class="text-center">
                                        {{ smses_in_year }}
                                    </div>
                                    <small>SMS's from this year</small>
                                </div>
                                <div class="tiles-footer">SMS HISTORY</div>
                            </a>
                        </div>

                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-success" href="{% url 'chart' %}#smshistory">
                                <div class="tiles-heading">SMS's this month</div>
                                <div class="tiles-body-alt">
                                    <!--i class="fa fa-money"></i-->
                                    <div class="text-center"><span class="text-top"></span>
                                        {{ smses_in_month }}<span class="text-smallcaps"></span></div>
                                    <small>SMS's from this month</small>
                                </div>
                                <div class="tiles-footer">SMS HISTORY</div>
                            </a>
                        </div>

                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-alizarin" href="{% url 'chart' %}#smshistory">
                                <div class="tiles-heading">SMS's this day</div>
                                <div class="tiles-body-alt">
                                    
                                    <div class="text-center">{{ smses_in_day }}</div>
                                    <small>SMS's from this day</small>
                                </div>
                                <div class="tiles-footer">SMS HISTORY</div>
                            </a>
                        </div>
                        
                        
                    </div>
                </div>
                

            </div>
            <div class="col-md-6">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4><a href="{% url 'chart' %}#smshistory" style="color: white;">SMS HISTORY</a></h4>
                           
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table" style="margin-bottom: 0px;">
                                    <thead>
                                        <tr>
                                                
                                            <th class="col-xs-2 col-sm-2">TO</th>
                                            <th class="col-sm-2 hidden-xs">SMS TEXT</th>
                                            <th class="col-xs-2 col-sm-2">Status</th>
                                            <th class="col-xs col-sm-2"> TIME SENT</th>
                                        </tr>
                                    </thead>
                                    <tbody class="selects">
                                        {% if grid_data %}
                                        {% for sms in grid_data %}
                                        <tr>
                                            <td>{{ sms.to }}</td>
                                            <td class="hidden-xs">{{ sms.sms_text }}</td>
                                            <td>{% ifequal sms.status True %} <span class="label label-success"> Sent </span>{% endifequal %}
                                            
                                                {% ifnotequal sms.status True %}<span class="label label-danger"> Not Sent </span>{% endifnotequal %}</td>
                                            <td><span> {{ sms.sms_sent_time }}
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                        
                                    </tbody>
                                    
                                </table>
                            </div><br>
                            <a href="{% url 'sms' %}" class="btn btn-primary btn-sm pull-left">Send New SMS</a>
                            <a href="{% url 'chart' %}#smshistory" class="btn btn-primary btn-sm pull-right">See All SMS's</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-grape">
                        <div class="panel-heading">
                            <h4><a href="/chart/" style="color: white;">SMS CHART</a></h4>
                           
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <div id="sincos" style="height: 300px"></div><br><br><br>
                                <center>
                                <form action="{% url 'chart' %}" method="get">
                                    
                                </form>
                            </center>
                            </div>
                        </div>
                    </div>
                </div>

            

        </div> <!-- container -->
    </div> <!--wrap -->
</div> <!-- page-content -->


</div> <!-- page-container -->

<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script>!window.jQuery && document.write(unescape('%3Cscript src="assets/js/jquery-1.10.2.min.js"%3E%3C/script%3E'))</script>
<script type="text/javascript">!window.jQuery.ui && document.write(unescape('%3Cscript src="assets/js/jqueryui-1.10.3.min.js'))</script>
-->


</body>
</html>